/* Hero */
#hero {
    background-image: url('../Resimler/hero-man.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: #fff;
}

/* Hero Text Shadow */
#hero .hero-content h1 { 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);   
}

#hero .hero-content h3 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

#hero .hero-content p {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 80%;
}

#btn-sign-up {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

#btn-details {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    border: 2px solid #fff; 
}